.headertable {
    vertical-align: middle;
    border-collapse: collapse;
    border: none;
    width:100%;
    }
.headertable td {
     vertical-align: middle;
    }

.invoicename {
    border-collapse: collapse;
    border: 1px solid black;
    border-color: #b0b0b0;
    font-family: Arial;
    width:100%;
    }
.invoicename td {
    text-align:center;
    line-height: 40px;
    vertical-align: middle;
    font-size:19px;
    font-weight: bold;
}
.invoicenamestyle {
    text-align:center;
    font-size:19px;
    font-weight: bold;
    vertical-align: middle;
}

.company-details {
    vertical-align: middle;
    border-collapse: collapse;
    text-align:left;
    font-family: Arial;
    font-size: 16px;
    width:100%;
}
.company-details td {
    border-top: none;
    text-align:left;
    border: 1px solid black;
    border-color: #b0b0b0;
    border-top: none;
    }
.company-details-span {
    margin-left:10PX;
    line-height: 40px;
}

.terms-table {
    text-align: justify;
    font-size:18px;
    padding:0px 15px 0px 15px;
    line-height: 30px;
    font-family: Arial;
}

.amt-to-text-table {
        vertical-align: middle;
        border-collapse: collapse;
        border-left: 1px solid black;
        border-right: 1px solid black;
        width: 100%;
        font-size: 17.5px;
}
.amt-to-text-table td {
    border: none;
}
.spanfooter {
        margin-left:50PX;
        line-height: 30px;
        font-size: 17.5px;
    }
