.table-grid {
	width: 100%;
	border-collapse: collapse;
  }
  
  .table-grid>tbody>tr>th {
	padding: 0;
  }
  
  .table-grid>thead>tr>th,
  .table-grid>tbody>tr>th,
  .table-grid>tfoot>tr>th,
  .table-grid>thead>tr>td,
  .table-grid>tbody>tr>td,
  .table-grid>tfoot>tr>td {
	border: 1px solid blue;
  }
  
  .table-grid .table-grid td,
  .table-grid .table-grid th {
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	border-bottom: 0;
	border-left: 0;
  }
  
  .table-grid .table-grid td:last-child,
  .table-grid .table-grid th:last-child {
	border-right: 0;
  }
  
  .company-details-span {
	  margin-left:15PX;
	  line-height: 40px;
  }

  .table-grid3 {
	width: 100%;
	border-collapse: collapse;
  }
    .table-grid3>tbody>tr>th {
	padding: 0;
	line-height: 40px;
	border-right: 1px solid blue;
  }

    .table-grid3>thead>tr>th,
  .table-grid3>tbody>tr>th,
  .table-grid3>tfoot>tr>th,
  .table-grid3>thead>tr>td,
  .table-grid3>tbody>tr>td,
  .table-grid3>tfoot>tr>td {
	border: 1px solid blue;
  }

.details-span {
	  margin-left:15PX;
	  line-height: 40px;
  }
  