.header-receipt{
    width: 100%;
    font-size: 13px;
    font-family: "Liberation Sans";
}

.valign-data{
    vertical-align: bottom;
}

.header-receipt-sub{
    width: 100%;
    font-size: 24px;
    font-family: "Liberation Sans";
    text-decoration : underline;
    color: #484848;
}

.header-receipt-head{
    width: 100%;
    font-size: 17px;
    font-family: "Liberation Sans";
    padding-top: 20px;
}

.header-receipt-head td {
    padding-top: 20px;
}

.data-table {
    width: 100%;
    font-size: 17px;
    font-family: "Liberation Sans";
}
.data-table td {
    vertical-align: top;
    border-collapse: collapse;
    border: 1px solid black;
    border-color: #DCDCDC;
    line-height: 35px;
}
.company-details-span{
    margin-left: 8PX;
}

.terms-table {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    font-family: "Liberation Sans";
}
.terms-table td {
    padding-top: 20px;
    line-height: 20px;
    border-bottom: 1px solid black;
    border-style: dashed;

}

.terms-table1 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    font-family: "Liberation Sans";
}
.terms-table1 td {
    padding-top: 20px;
    line-height: 20px;
    border-bottom: 1px solid black;
}